p {
  font-size: var(--body-size);
  margin-bottom: var(--baseline);
  line-height: var(--body-line-height);
  hyphens: auto;
  hyphenate-limit-chars: 11 3 4;
}

a {
  color: black;
  text-decoration: none;
}

.about-text a:hover::before {
  content: '\2192\20';
}

.about-text .code {
  font-family: 'True Sans Mono', monospace;
  font-size: var(--code-size);
  font-variant-ligatures: none;
}

body.page-grid {
  align-content: start;
}

@media (min-width: 800px) {
  #title-resampling-canvas {
    transform-origin: center top;
    transform: scale(1.1);
  }

  .about-text {
    z-index: 9;
  }
}
