:root {
  --body-size: 2rem;
  --body-line-height: 1.3125;
  --baseline: calc(var(--body-size) * var(--body-line-height));
  --code-size: calc(var(--body-size) * 0.93);
  --notes-size: 0.8rem;
  --notes-line-height: calc(10/9);
  --notes-baseline: calc(var(--notes-size) * var(--notes-line-height));
  --grid-cols: 4;
  --grid-gap: 20px;
  --col-start: 1;
  --col-end: -1;
  --col-start-ext: 1;
  --col-end-ext: -1;
}

@font-face {
  font-family: 'True Sans Mono';
  src:
    url('../assets/fonts/TrueSansMono-RegularWeb.woff2') format('woff2'),
    url('../assets/fonts/TrueSansMono-RegularWeb.woff') format('woff');
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html,
body {
  height: 100%;
  scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  background: #fff;
  border-bottom: 1px solid #000;
  display: flex;
  grid-template-columns: repeat(var(--grid-cols), minmax(0, 1fr));
  column-gap: var(--grid-gap);
  padding-left: calc(var(--grid-gap) / 4);
  padding-right: calc(var(--grid-gap) / 4);
  align-items: center;
  z-index: 9999;
  box-sizing: border-box;
}

.site-header,
.site-header * {
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px;
  line-height: 1;
}

.site-header a {
  color: #000;
  text-decoration: none;
}

.site-header a:hover {
  /* font-family: 'True Sans Mono'; */
}

.site-header-nav {
  display: flex;
  gap: 24px;
  margin-left: auto;

}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.page-grid {
  display: grid;
  grid-template-columns: repeat(var(--grid-cols), minmax(0, 1fr));
  column-gap: var(--grid-gap);
  padding: calc(var(--grid-gap) / 4);
}

.page-grid > * {
  grid-column: 1 / -1;
}

@media (min-width: 900px) {
  :root {
    --grid-cols: 6;
    --grid-gap: 40px;
    --col-start: 2;
    --col-end: 6;
    --col-start-ext: 6;
    --col-end-ext: 7;
  }
  .page-grid > * {
    grid-column: 2 / 6;
  }
}

@media (min-width: 1400px) {
  :root {
    --grid-cols: 8;
    --grid-gap: 60px;
    --col-start: 3;
    --col-end: 7;
    --col-start-ext: 7;
    --col-end-ext: 9;
  }
  .page-grid > * {
    grid-column: 3 / 7;
  }
}
