:root {
  --body-size: 12pt;
}

@page {
  size: A4;
  margin: 8mm;
  @bottom-right-corner {
    content: counter(page);
  }
}

@media print {
  .web-index {
    display: none;
  }

  .thesis-layout {
    display: block;
    column-count: 2;
    column-gap: 8mm;
    column-fill: auto;
    min-height: 100%;
    height: auto;
    overflow: visible;
  }

  .pagedjs_page_content .thesis-layout {
    min-height: 100%;
    height: auto;
    overflow: visible;
  }

  /* .table-of-contents {
    break-before: page;
    break-inside: avoid;
  } */
}
