@page {
  size: A4;
  @bottom-right-corner {
    content: counter(page);
  }
}

@media print {
  .web-index {
    display: none;
  }

  .contents {
    display: block;
  }

  .thesis-layout {
      grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  h1 {
    font-size: var(--body-font-size);
  }

  h2 {
    break-before: page;
  }
}